<footer class="footer u-theme2">
    <div class="wrapper">
        <div class="footer__top">
            <header class="footer__header">
                <p class="footer__heading">{{ footer.footerHeading }}</p>
                <ul class="footer__socials">
                    {% for url in socials.socialUrls %}
                        <li><a href="{{ url.url }}" target="_blank"><svg class="footer__socialsIcon"><use xlink:href="/assets/img/icons.svg#{{ url.platform }}"></use></svg></a></li>
                    {% endfor %}
                </ul>
            </header>
            <div class="footer__col">
                <div class="u-card">
                    <h5>{{ footer.footerContactHeading }}</h5>
                    <div class="footer__contact">
                        {% if contact.contactEmail %}
                            <a class="u-email" href="mailto:{{ contact.contactEmail }}">{{ contact.contactEmail }}</a><br>
                        {% endif %}
                        {% if contact.contactPhone %}
                            <a class="p-tel" href="tel:{{ contact.contactPhone|replace("(0)", "")|replace(" ", "") }}">{{ contact.contactPhone }}</a><br>
                        {% endif %}
                        {% if contact.contactPhoneMobile %}
                            {% set cleanPhone = contact.contactPhoneMobile|replace("+", "")|replace("(0)", "")|replace(" ", "") %}
                            <a class="p-tel" href="tel:{{ cleanPhone }}">{{ contact.contactPhoneMobile }}</a>
                        {% endif %}
                    </div>
                    <div class="footer__address">
                        {% if contact.contactGoogleMapsUrl %}
                            <a href="{{ contact.contactGoogleMapsUrl }}" target="_blank">
                        {% endif %}
                        {{ contact.contactFormattedAddress|nl2br }}
                        {% if contact.contactGoogleMapsUrl %}
                            </a>
                        {% endif %}
                        {#
                                                {% if contact.contactAddress %}
                            <span class="p-street-address">{{ contact.contactAddress }}</span><br>
                        {% endif %}
                        {% if contact.contactPostalCode %}
                            <span class="p-postal-code">{{ contact.contactPostalCode }}</span>
                        {% endif %}
                        {% if contact.contactCity %}
                            <span class="p-locality">{{ contact.contactCity }}</span><br>
                        {% endif %}
                        {% if contact.contactCountry %}
                            <span class="p-country-name">{{ contact.contactCountry }}</span>
                        {% endif %}
                        #}
                    </div>
                    {% if footer.footerIsShowOpeningHours %}
                        <table class="footer__hours">
                            {% for day in contact.contactOpeningHours %}
                                <tr>
                                    <th scope="row">{{ day.day }}</th>
                                    <td class="u-text-tabular">
                                        {% if not day.isClosed and day.timeOpens %}
                                            {{ day.timeOpens|date("H:i") }} &ndash; {{ day.timeCloses|date("H:i") }}
                                        {% else %}
                                            Gesloten
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>
            <div class="footer__col">
                <h5>{{ footer.footerMenuHeading }}</h5>
                <ul class="footer__menu">
                    {% for link in footer.footerMenu %}
                        <li>
                            <a
                                data-ga-event="footer_menu_click"
                                data-ga-param-footer-menu-text="{{ link.text }}"
                                href="{{ link.url }}"
                            >{{ link.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <div>
                &copy; {{ now|date("Y") }}, <a href="{{ siteUrl }}" class="p-name u-url">{{ systemName }}</a>.<br>
                {{ "all_rights_reserved"|t }}
            </div>
            <div>
                <ul>
                    {% for link in footer.footerLinks %}
                        <li>
                            <a
                                data-ga-event="footer_link_click"
                                data-ga-param-footer-link-text="{{ link.text }}"
                                href="{{ link.url }}"
                                target="{{ link.isNewTab ? "_blank" : "_top" }}"
                            >{{ link.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                {% if footer.footerKvkNumber %}
                    KVK {{ footer.footerKvkNumber }}<br>
                {% endif %}
                {% if footer.footerVatId %}
                    BTW {{ footer.footerVatId }}
                {% endif %}
            </div>
            <div>
                Site by <a href="https://oscaralexander.com/" target="_blank">OSCAR ALEXANDER</a>
            </div>
        </div>
    </div>
</footer>