<input class="menuToggle" id="menuToggle" name="menu_toggle" type="checkbox">
<nav aria-role="banner" class="nav js-nav">
    <div class="wrapper">
        <label class="nav__menuToggle" for="menuToggle"><div></div></label>
        <a class="nav__logo" href="{{ siteUrl }}">
            {% set logo = brand.logo.one() %}
            {% if logo %}
                {% if logo.extension == "svg" %}
                    {{ svg(logo) }}
                {% else %}
                    <img alt="{{ systemName }} logo" height="{{ logo.height }}" src="{{ logo.url }}" width="{{ logo.width }}">
                {% endif %}
            {% endif %}
        </a>
        <div class="nav__drawer">
            <header class="nav__header">
                <label class="nav__menuToggle" for="menuToggle"><div></div></label>
            </header>
            <ul aria-role="menu" class="nav__menu">
                {% set pages = craft.entries().section("nav").all() %}
                {% nav page in pages %}
                    {% set navPage = page.navPage.one() %}
                    <li class="nav__menuItem">
                        <a aria-controls="menu-{{ page.slug }}" aria-expanded="false" aria-role="menuitem" class="nav__menuLink {{ page.children|length ? "has-subMenu js-navSubMenuToggle" : "" }}" href="{{ navPage ? navPage.url : page.url }}" tabindex="0">{{ page.title }}</a>
                        {% ifchildren %}
                            <ul aria-role="menu" class="nav__subMenu js-navSubMenu" id="menu-{{ page.slug }}">
                                {% children %}
                            </ul>
                        {% endifchildren %}
                    </li>
                {% endnav %}
            </ul>
            <footer class="nav__footer">
                {% if navBar.navBarCtaLabel %}
                    <div class="nav__cta">
                        <a
                            class="btn btn--block btn--primary"
                            data-ga-event"nav_mobile_cta_click"
                            data-ga-param-nav-cta-text="{{ navBar.navBarCtaLabel }}"
                            href="{{ navBar.navBarCtaUrl }}"
                        >{{ navBar.navBarCtaLabel }}</a>
                    </div>
                {% endif %}
                {% if translations|length > 1 %}
                    <div class="languageSwitch languageSwitch--center">
                        <div class="languageSwitch__current">{{ currentSite.name }}</div>
                        <select onchange="location.href=this.value;" tabindex="0">
                            {% for translation in translations %}
                                {% set selected = (translation.langCode == currentSite.handle) ? "selected" : "" %}
                                <option {{ selected }} value="{{ translation.url|replace("home", "") }}">{{ translation.lang }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                <ul class="nav__socials">
                    {% for url in socials.socialUrls %}
                        <li>
                            <a class="nav__socialsLink" href="{{ url.url }}" target="_blank"><svg class="nav__socialsIcon"><use xlink:href="/assets/img/icons.svg#{{ url.platform }}"></use></svg></a>
                        </li>
                    {% endfor %}
                </ul>
            </footer>
        </div>
        <div class="nav__right">
            {% if translations|length > 1 %}
                <div class="languageSwitch languageSwitch--short">
                    <div class="languageSwitch__current">{{ currentSite.handle }}</div>
                    <select onchange="location.href=this.value;" tabindex="0">
                        {% for translation in translations %}
                            {% set selected = (translation.langCode == currentSite.handle) ? "selected" : "" %}
                            <option {{ selected }} value="{{ translation.url|replace("home", "") }}">{{ translation.lang }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            {% if navBar.navBarCtaLabel %}
                <div class="nav__cta">
                    <a
                        class="btn btn--primary"
                        data-ga-event="nav_cta_click"
                        data-ga-param-text="{{ navBar.navBarCtaLabel }}"
                        href="{{ navBar.navBarCtaUrl }}"
                    >{{ navBar.navBarCtaLabel }}</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="nav__overlay js-navOverlay"></div>
</nav>