<section class="cards block {{ block.theme ? "u-" ~ block.theme.one().slug : "" }}">
    <div class="wrapper">
        {% if block.heading or block.intro %}
            <header class="block__header block__header--center">
                <h2 class="block__heading">{{ block.heading }}</h2>
                <div class="block__intro">{{ block.intro }}</div>
            </header>
        {% endif %}
        <div class="cards__grid {{ block.isScrolling ? "cards__grid--scrolling" : "" }}" style="--cards-cols: {{ block.cardsPerRow }};">
            {% for card in block.cards.all() %}
                {% include "_blocks/cards/card" with { card: card } %}
            {% endfor %}
        </div>
    </div>
</section>