<!DOCTYPE html>
<!--
    ╭──────────────────────────────────────────╮
    │ ≡ Design & development                   │
    ╞══════════════════════════════════════════╡
    │                                          │
    │ OSCAR ALEXANDER                          │
    │ oscaralexander.com                       │
    ├──────────┬───────────────────────────────┤
    │ Email    │ mail@oscaralexander.com       │
    ╰──────────┴───────────────────────────────╯
-->
{% set translations = [] %}
{# cache #}
    {% for site in craft.app.sites.getAllSites() %}
        {% set translation = craft.entries.id(entry.id).site(site.handle).one() %}
        {% if translation %}
            {% set translations = translations|merge([{lang: site.name, langCode: site.handle, siteId: site.id, url: translation.url}]) %}
        {% endif %}
    {% endfor %}
{# endcache #}
<html lang="{{ craft.app.language }}">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="initial-scale=1.0,viewport-fit=cover,width=device-width" name="viewport">
        <title>{{ systemName }}</title>
        {% for translation in translations %}
            {% if translation.siteId != currentSite.id %}
                <link href="{{ translation.url|replace("home", "") }}" hreflang="{{ translation.langCode }}" rel="alternate">
            {% endif %}
        {% endfor %}
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
        <link href="https://fonts.googleapis.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&family=Nunito:wght@700;800&display=swap" rel="stylesheet">
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
        {{ craft.vite.script("src/js/index.ts", false) }}
        {% block head %}{% endblock %}
        {% include "_partials/schema" %}
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:3624360,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
    </head>
    <body class="{{ entry.isTransparentNav ? "is-transparentNav" }}">
        {% include "_partials/announcement" %}
        {% include "_partials/nav" %}
        <div class="page">
            <main class="page__main">
                {% block content %}{% endblock %}
            </main>
            {% include "_partials/footer" %}
            {% include "_partials/donate" %}
        </div>
    </body>
</html>